html,
body,
canvas {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100vh;
    position: relative;
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    user-select: none
}

canvas {
    display: block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    user-select: none;
    pointer-events: none;
}

img,
canvas {
    image-rendering: pixelated;
}

/* Weird chrome selector for fullscreen bbackground */
body:fullscreen::backdrop {
    display: none;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}

/*Debug*/

body.debug {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr;*/
    grid-template-rows: repeat(auto-fit, 1fr);
    /*grid-auto-flow: row dense;*/
    gap: 10px;
    height: calc(100vh - 20px);
    padding: 10px;
    background: antiquewhite;
}

body.debug [id^="game"] {
    background: darkgoldenrod;
    position: relative;
}
body.debug [id^="game"] div{
    position: absolute;
    inset: 0;
}

body.debug [tabindex]:focus {
    outline: 3px solid #F00;
}
