html,
body,
canvas {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

canvas {
    display: block;
}

img,
canvas {
    /*width: 100%;*/
    /*height: 100%;*/
    image-rendering: pixelated;
    /*width: 1px;*/
    /*height: 1px;*/
}

/* Weird chrome selector for fullscreen bbackground */
body:fullscreen::backdrop {
    display: none;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}

/*Debug*/

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr;*/
    grid-template-rows: repeat(auto-fit, 1fr);
    /*grid-auto-flow: row dense;*/
    gap: 10px;
    height: calc(100vh - 20px);
    padding: 10px;
    background: antiquewhite;
}

[id^="game"] {
    background: darkgoldenrod;
    position: relative;
}
[id^="game"] div{
    position: absolute;
    inset: 0;
}

[tabindex]:focus {
    outline: 3px solid #F00;
}
