<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, viewport-fit=cover">
    <link rel="manifest" href="%PUBLIC_URL%/manifest.webmanifest">
    <title>Multiplayer</title>
    <script>
        const {redirect} = sessionStorage
        delete sessionStorage.redirect
        if (redirect && redirect !== location.href) {
            history.replaceState(null, null, redirect)
        }
    </script>
    {{{htmlMeta.appleMobileWebAppCapable}}}{{{htmlMeta.favicon}}}{{{htmlMeta.appleTouchIcon}}}{{{htmlMeta.appleLaunchImage}}}
    <script>
        var parcelRequire;
    </script>

</head>
<body>
<div tabindex="-1" id="game1"><div style="height: inherit">1</div></div>
<div tabindex="-1" id="game2"><div style="height: inherit">2</div></div>
<div tabindex="-1" id="game3"><div style="height: inherit">3</div></div>
<div tabindex="-1" id="game4"><div style="height: inherit">4</div></div>
<script type="module" src="%PUBLIC_URL%/{{fileName}}.js"></script>
</body>
</html>